body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: blue;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50x;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 5px;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: x;
}
.no-margin {
	margin-top: 0;
}
.postcard-footer {
	text-align: center;
}
input {
	border: none;
	border-bottom: grey;
}
button {
	background-color: #b4b4b4;
	padding: 5px 10px;
}
